.latestRoles-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100rem; 

}

.role-title-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.viewRoles-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Montserrat";
    font-size: 12px;
}

.roles-h1{
    margin: 0;
}

.liveRole-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 30px;
}

